@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css");
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");

@font-face {
  font-family: "Decovar Regular24";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/Decovar-VF.ttf");
}

/* ==========================================================================
   Responsive images and box padding
   ========================================================================== */

img,
object {
  display: block;
  border: 0;
  max-width: 100%;
  height: auto;
}

* {
  -moz-box-sizing: border-box;
  -webkit-kit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

body {
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
  font-family: "Odibee Sans", cursive;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.container {
  width: 80%;
  margin: 60px auto;
}

h1 {
  font-size: 3em;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  margin-top: 50px;
  margin-right: 50px;
  text-align: center;
}

/* .box-page {
  position: fixed;
  border-radius: 2%;
  background-color: #e6e6e6;
  width: 95%;
  height: 80%;
  top: 15%;
  left: 2.5%;
  text-align: end;
  font-size: 0.5em;
  font-weight: 600;
}

*/
h2 {
  font-size: 3em;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  margin-top: 50px;
  margin-right: 50px;
}

P {
  margin: 10px;
  font-family: "Odibee Sans", cursive;

  font-variation-settings: 'INLN' 400, 'SWRM' 1000; 
font-weight: 400;
  font-variation-settings: "INLN" 400, "SWRM" 1000;
  font-weight: 400;
}

.screenFrame {
  position: absolute;
  width: 95%;
  height: 150%;
  top: 85px;
  left: 2.5%;
  background: #dbdbdb;
  background-image: linear-gradient(#e4dfdf 3%, #ffffff 9%);
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border-right: 3px solid #cacab3;
  border-left: 3px solid #cacab3;
  border-bottom: 5px solid #cacab3;
  box-shadow: inset 4px -2px 4px #888, inset -4px -2px 4px #888;
  text-align: end;
  font-size: 0.5em;
  font-weight: 600;
}

.screenInset {
  position: absolute;
  width: 95%;
  height: 50%;
  top: 50px;
  left: 2.5%;
  background-image: linear-gradient(to right, #b9b7b7, #b4b2b2 50%, #9b9595);
  border-radius: 30px;
  border-left: 2px solid #333;
  box-shadow: inset 2px -1px 4px #333, inset -2px -1px 4px #333,
    inset -2px 0px 4px #000;
}
.logo2 {
  position: absolute;
  top: 320px;
  left: 1165px;
  width: 240px;
  height: 60px;
  padding-left: 10px;
  background: #222;
  border-radius: 3px;
  box-shadow: 1px 2px 2px;
  transform: rotate(90deg);
}

.model {
  clear: both;
  display: inline-block;
  font-family: sans-serif;
  font-size: 28px;
  color: #c22;
  margin: 18px 5px;
  text-shadow: 0 2px 1px #111, -1px -1px #333;
}
.image {
  background: url("../public/ico.png");
}

.icon-page {
  position: fixed;
  width: 40px;
  left: 53px;
  top: 12px;
}
 